---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>Mul-ti-pass?!</title>
  </head>
  <body class="bg-slate-900 text-slate-200">
    <div>
      <nav class="flex flex-wrap gap-5 sm:gap-10 md:gap-20 py-5 px-[3vmin] place-items-center place-content-center ">
        <a href="/" class="font-medium text-gray-400 hover:text-gray-300">Home</a>
        <a href="../#features" class="font-medium text-gray-400 hover:text-gray-300">Features</a>
        <a href="/pricing" class="font-medium text-gray-400 hover:text-gray-300">Pricing</a>
        <a href="/blog" class="font-bold text-gray-300">Blog</a>
        <a href="/signup" class="font-medium text-slate-900 my-2 rounded-3xl  bg-gradient-to-br hover:text-white from-yellow-200 hover:from-yellow-500 to-red-300 hover:to-red-600 px-4 py-2 shadow-lg hover:shadow-md hover:translate-x-px hover:translate-y-px">Sign up</a>
      </nav>
      <main class="bg-slate-800 py-10 px-[3vmin]">
        <div class="text-center leading-loose">
          <h1 class="text-5xl py-5 leading-loose">
            <span class="text-5xl md:text-8xl font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-yellow-500 to-red-500">Blog</span>
          </h1>

          <div class="my-10 mx-auto text-center max-w-3xl px-[3vmin] text-gray-900">
            <div class="mb-10 p-8 bg-gradient-to-br hover:text-white from-yellow-200 hover:from-yellow-500 to-red-300 hover:to-red-600 rounded-2xl shadow-sm flex flex-col">
              <p class="mb-6 uppercase text-sm">Feb 10 2263</p>
              <h3 class="text-3xl font-semibold ">Big stars for Fhloston cruise named:</h3>
              <p class="mt-6 ">Enjoy your exuberant compère Ruby Rhod, and a stunning concert by Plavalaguna!</p>
            </div>

            <div class="mb-10 p-8 bg-gradient-to-br hover:text-white from-yellow-200 hover:from-yellow-500 to-red-300 hover:to-red-600 rounded-2xl shadow-sm flex flex-col">
              <p class="mb-6  uppercase text-sm">Jan 06 2263</p>
              <h3 class="text-3xl font-semibold ">Competition time!</h3>
              <p class="mt-6 ">Enter to win a luxury vacation aboard a flying hotel on planet Fhloston, details within...</p>
            </div>
          </div>
        </div>
      </main>
      <footer class="pt-10">
        <nav class="flex gap-8 pb-5 place-items-center place-content-center">
          <a href="/" class="font-medium text-gray-400 hover:text-gray-300">Home</a>
          <a href="#features" class="font-medium text-gray-400 hover:text-gray-300">Features</a>
          <a href="/pricing" class="font-medium text-gray-400 hover:text-gray-300">Pricing</a>
          <a href="/blog" class="font-medium text-gray-400 hover:text-gray-300">Blog</a>
        </nav>
        <p class="text-center text-gray-400">&copy; 2263 MultiPass NYC. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
