<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>Mul-ti-pass?</title>
    <style>
      *:before {
        #outline: 1px dashed;
      }
    </style>
  </head>
  <body class="bg-slate-900 text-slate-200">
    <div>
      <nav
        class="flex flex-wrap gap-5 sm:gap-10 md:gap-20 py-5 place-items-center place-content-center "
      >
        <a href="/" class="font-bold text-gray-300 hover:text-gray-300">Home</a>
        <a
          href="#features"
          class="font-medium text-gray-400 hover:text-gray-300">Features</a
        >
        <a href="/pricing" class="font-medium text-gray-400 hover:text-gray-300"
          >Pricing</a
        >
        <a href="/blog" class="font-medium text-gray-400 hover:text-gray-300"
          >Blog</a
        >
        <a href="/login" class="font-medium text-gray-400 hover:text-gray-300"
          >Login</a
        >
        <a
          href="/signup"
          class="font-medium text-slate-100 my-2 rounded-3xl bg-slate-500 hover:bg-slate-600 hover:text-slate-200 px-3 py-1 shadow-lg hover:shadow-md hover:translate-x-px hover:translate-y-px"
          >Sign up</a
        >
      </nav>
      <main class="bg-slate-800 py-10 px-5">
        <div class="text-center leading-loose">
          <h1 class="text-3xl py-5 md:text-5xl leading-loose">
            Get&nbsp;your <span
              class="uppercase font-extrabold text-5xl md:text-8xl text-transparent bg-clip-text bg-gradient-to-br from-yellow-500 to-red-500"
              >MultiPass</span
            > here&nbsp;now
          </h1>
          <h2 class="mt-10 text-2xl font-bold leading-loose">
            To help you through your day to day:
          </h2>
          <ul class="mx-auto my-3 w-fit p-2 text-left">
            <li
              class="text-xl hover:text-green-300 before:mr-2 before:content-['≡'] before:inline-block before:translate-y-2 before:text-5xl before:text-green-300 hover:before:text-green-500"
            >
              Border crossings
            </li>
            <li
              class="text-xl hover:text-blue-300 before:mr-2 before:content-['≋'] before:inline-block before:translate-y-2 before:text-5xl before:text-blue-300 hover:before:text-blue-500"
            >
              Air and sea travel
            </li>
            <li
              class="text-xl hover:text-orange-300 before:mr-2 before:content-['≋'] before:inline-block before:-rotate-90 before:translate-y-2 before:text-5xl before:text-orange-300 hover:before:text-orange-500"
            >
              Emergency services
            </li>
          </ul>
          <a href="https://www.imdb.com/title/tt0119116/" target="_blank"
            ><button
              class="my-10 font-medium text-white my-3 rounded-3xl bg-slate-500 hover:bg-slate-600 hover:text-slate-200 px-3 py-1 shadow-lg hover:shadow-md hover:translate-x-px hover:translate-y-px"
              >Find out more</button
            >
          </a>
        </div>
        <div
          id="features"
          class="my-10 mx-auto text-center max-w-3xl px-10 text-slate-300"
        >
          <h2 class="my-5 text-2xl font-bold leading-loose">
            Features and functions
          </h2>
          <p class="my-5 max-w-prose mx-auto text-xl">Why carry a MultiPass?</p>
          <div
            class="my-12 grid gap-8 grid-cols-1 sm:grid-cols-2 text-gray-900"
          >
            <div
              class="bg-gradient-to-br from-yellow-200 hover:from-yellow-500 to-red-300 hover:to-red-600 hover:text-white rounded-lg px-6 pb-8 shadow-lg hover:shadow-md hover:translate-x-px hover:translate-y-px"
            >
              <h3 class="my-8 text-lg font-medium">Prove yourself</h3>
              <p>ID, driving license, viral state</p>
            </div>

            <div
              class="bg-gradient-to-br from-yellow-200 hover:from-yellow-500 to-red-300 hover:to-red-600 hover:text-white rounded-lg px-6 pb-8 shadow-lg hover:shadow-md hover:translate-x-px hover:translate-y-px"
            >
              <h3 class="my-8 text-lg font-medium">Go cashless</h3>
              <p>Pay for goods and services</p>
            </div>
            <div
              class="bg-gradient-to-br from-yellow-200 hover:from-yellow-500 to-red-300 hover:to-red-600 hover:text-white rounded-lg px-6 pb-8 shadow-lg hover:shadow-md hover:translate-x-px hover:translate-y-px"
            >
              <h3 class="my-8 text-lg font-medium">Gain entry</h3>
              <p>Boarding planes and ships or entering amusement parks</p>
            </div>
            <div
              class="bg-gradient-to-br from-yellow-200 hover:from-yellow-500 to-red-300 hover:to-red-600 hover:text-white rounded-lg px-6 pb-8 shadow-lg hover:shadow-md hover:translate-x-px hover:translate-y-px"
            >
              <h3 class="my-8 text-lg font-medium">
                MultiPass, multi benefits
              </h3>
              <p>Get rewards and offers related to your usage</p>
            </div>
          </div>
        </div>
      </main>
      <footer class="pt-10">
        <nav class="flex gap-8 pb-5 place-items-center place-content-center">
          <a href="/" class="font-medium text-gray-400 hover:text-gray-300"
            >Home</a
          >
          <a
            href="#features"
            class="font-medium text-gray-400 hover:text-gray-300">Features</a
          >
          <a
            href="/pricing"
            class="font-medium text-gray-400 hover:text-gray-300">Pricing</a
          >
          <a href="/blog" class="font-medium text-gray-400 hover:text-gray-300"
            >Blog</a
          >
        </nav>
        <p class="text-center text-gray-400">
          &copy; 2022 Great Tool. All rights reserved.
        </p>
      </footer>
    </div>
  </body>
</html>
