---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>Mul-ti-pass!</title>
  </head>
  <body class="bg-slate-900 text-slate-200">
    <div>
      <nav
        class="flex flex-wrap gap-5 sm:gap-10 md:gap-20 py-5 place-items-center place-content-center "
      >
        <a href="/" class="font-medium text-gray-400 hover:text-gray-300"
          >Home</a
        >
        <a
          href="../#features"
          class="font-medium text-gray-400 hover:text-gray-300">Features</a
        >
        <a href="/pricing" class="font-bold text-gray-300 hover:text-gray-300"
          >Pricing</a
        >
        <a href="/blog" class="font-medium text-gray-400 hover:text-gray-300"
          >Blog</a
        >
        <a href="/login" class="font-medium text-gray-400 hover:text-gray-300"
          >Login</a
        >
        <a
          href="/signup"
          class="font-medium text-slate-100 my-2 rounded-3xl bg-slate-500 hover:bg-slate-600 hover:text-slate-200 px-3 py-1 shadow-lg hover:shadow-md hover:translate-x-px hover:translate-y-px"
          >Sign up</a
        >
      </nav>
      <main class="bg-slate-800 py-10 px-5">
        <div class="text-center leading-loose">
          <h1 class="text-5xl py-5 leading-loose">
            <span
              class="text-5xl md:text-8xl font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-yellow-500 to-red-500"
              >Pricing plans</span
            >
          </h1>

          <div class="my-10 mx-auto text-center max-w-3xl px-10 text-gray-900">
            <div
              class="space-y-12 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-8"
            >
              <div
                class="p-8 bg-gradient-to-br from-yellow-200 to-red-300 rounded-2xl shadow-sm flex flex-col"
              >
                <h3 class="text-3xl font-semibold ">Access</h3>

                <p class="mt-4 mx-auto">
                  <span class="text-5xl font-extrabold tracking-tight">€29</span
                  >
                  <span class="ml-1 text-xl font-semibold">/month</span>
                </p>
                <p class="mt-6 text-gray-500">Get where you need to</p>

                <ul role="list" class="mt-6 space-y-6">
                  <li class="flex">
                    <span class="-mt-2 text-blue-500 text-3xl">&check;</span>
                    <span class="ml-3 text-gray-500 text-left"
                      >Access to our service</span
                    >
                  </li>

                  <li class="flex">
                    <span class="-mt-2 text-blue-500 text-3xl">&check;</span>
                    <span class="ml-3 text-gray-500 text-left"
                      >Pay-per-minute support</span
                    >
                  </li>
                </ul>
              </div>

              <div
                class="p-8 bg-gradient-to-br from-yellow-200 to-red-300 rounded-2xl shadow-sm flex flex-col"
              >
                <h3 class="text-3xl font-semibold ">VIP</h3>

                <p class="mt-4 mx-auto">
                  <span class="text-5xl font-extrabold tracking-tight">€99</span
                  >
                  <span class="ml-1 text-xl font-semibold">/month</span>
                </p>
                <p class="mt-6 text-gray-500">Go somewhere exclusive</p>

                <ul role="list" class="mt-6 space-y-6">
                  <li class="flex">
                    <span class="-mt-2 text-blue-500 text-3xl">&check;</span>
                    <span class="ml-3 text-gray-500">Access to our service</span
                    >
                  </li>

                  <li class="flex">
                    <span class="-mt-2 text-blue-500 text-3xl">&check;</span>
                    <span class="ml-3 text-gray-500 text-left"
                      >Free support</span
                    >
                  </li>

                  <li class="flex">
                    <span class="-mt-2 text-blue-500 text-3xl">&check;</span>
                    <span class="ml-3 text-gray-500 text-left"
                      >Get treated well</span
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="pt-10">
        <nav class="flex gap-8 pb-5 place-items-center place-content-center">
          <a href="/" class="font-medium text-gray-400 hover:text-gray-300"
            >Home</a
          >
          <a
            href="#features"
            class="font-medium text-gray-400 hover:text-gray-300">Features</a
          >
          <a
            href="/pricing"
            class="font-medium text-gray-400 hover:text-gray-300">Pricing</a
          >
          <a href="/blog" class="font-medium text-gray-400 hover:text-gray-300"
            >Blog</a
          >
        </nav>
        <p class="text-center text-gray-400">
          &copy; 2022 Great Tool. All rights reserved.
        </p>
      </footer>
    </div>
  </body>
</html>
